<nav id="fh5co-menu-wrap" role="navigation">
    <ul class="sf-menu" id="fh5co-primary-menu">
        <li class="active">
            <a href="index.html">Home</a>
        </li>
        <li>
            <a href="portfolio.html" class="fh5co-sub-ddown">Work</a>
            <ul class="fh5co-sub-menu">
                <li><a href="http://urjaindustries.com" target="_blank">PEST CONTROL</a></li>
                <li class="reduceLineHeight"><a href="http://urjaindustries.com" target="_blank" class="reduceLineHeight">FARMHOUSE &amp; GARDEN<br/>DEVLOPMENT</a></li>
                <li><a href="http://urjaindustries.com" target="_blank" class="reduceLineHeight">VERMICULTURE &amp; ORGANIC<br/>SUPPLIES</a></li>
                <li><a href="http://urjaindustries.com" target="_blank">AGRICULTURE SUPPLIES</a></li>
                <li><a href="http://urjaindustries.com" target="_blank" class="reduceLineHeight">AGRICULTURAL CONSULTANCE<br/>AND CROP DOCTOR</a></li>
            
            </ul>
        </li>
        <li>
            <a href="services.html" class="fh5co-sub-ddown">Services</a>

        </li>
        <li><a href="about.html">About</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
</nav>