

<div id="fh5co-partner">
    <div class="container">
      <div class="partner-wrap">
        <div class="wrap">
          <div class="partner animate-box">
            <div class="inner">
              <img class="img-responsive" src="../../../assets/img/logo-1.png" alt="">
            </div>
          </div>
          <div class="partner animate-box">
            <div class="inner">
              <img class="img-responsive" src="../../../assets/img/logo-2.png" alt="">
            </div>
          </div>
          <div class="partner animate-box">
            <div class="inner">
              <img class="img-responsive" src="../../../assets/img/logo-3.png" alt="">
            </div>
          </div>
          <div class="partner animate-box">
            <div class="inner">
              <img class="img-responsive" src="../../../assets/img/logo-4.png" alt="">
            </div>
          </div>
          <div class="partner animate-box">
            <div class="inner">
              <img class="img-responsive" src="../../../assets/img/logo-5.png" alt="">
            </div>
          </div>
          <!-- <div class="partner animate-box">
            <div class="inner">
              <img class="img-responsive" src="../../../assets/img/logo-6.png" alt="">
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>